<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <servlet>
        <servlet-name>showAllDocs</servlet-name>
        <servlet-class>servlets.showAllDocs</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>editDocument</servlet-name>
        <servlet-class>servlets.editDocument</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>downloadFile</servlet-name>
        <servlet-class>servlets.downloadFile</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>uploadFile</servlet-name>
        <servlet-class>servlets.uploadFile</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>addDocument</servlet-name>
        <servlet-class>servlets.addDocument</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>deleteDocument</servlet-name>
        <servlet-class>servlets.deleteDocument</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>updateDocument</servlet-name>
        <servlet-class>servlets.updateDocument</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>showAllDocs</servlet-name>
        <url-pattern>/showAllDocs</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>editDocument</servlet-name>
        <url-pattern>/editdocument</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>downloadFile</servlet-name>
        <url-pattern>/download</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>uploadFile</servlet-name>
        <url-pattern>/upload</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>addDocument</servlet-name>
        <url-pattern>/adddocument</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>deleteDocument</servlet-name>
        <url-pattern>/deldocument</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>updateDocument</servlet-name>
        <url-pattern>/upddocument</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>showAllDocs</welcome-file>
    </welcome-file-list>
</web-app>
